!!! 5
%html
  %head
    %title= Time.now
    %meta{charset: "utf-8"}
  %body
    %div
      %b
        all:
        = @statuses["all"]
      %b{class: "passed"}
        passed:
        = @statuses["passed"]
      %b{class: "failed"}
        failed:
        = @statuses["failed"]
      %b{class: "pending"}
        pending:
        = @statuses["pending"]
    - @tests.each do |example|
      %details
        %summary{class: "collapse #{example.last['status']}"}
          = example.last['full_description']
        %div
          %div{class: 'section'}
          - if example.last['request'] && example.last['response']['body']
            %div
              %b path:
              = example.first
            %div
              %b time:
              = example.last['time']
            %div{class: 'section'}
              %div
                %b request.method:
                = example.last['request']['method']
              %div
                %b request.url:
                = example.last['request']['url']
              %div
                %b request.headers:
                = example.last['request']['headers']
              %div
                %b request.body:
                = example.last['request']['body']
            %div{class: 'section'}
              %div
                %b response.headers:
                = example.last['response']['headers']
              %div
                %b response.body:
                %xmp
                  = example.last['response']['body']
          - elsif example.last['request']
            %div
              %b path:
              = example.first
            %div{class: 'section'}
              %div
                %b request.method:
                = example.last['request']['method']
              %div
                %b request.url:
                = example.last['request']['url']
              %div
                %b request.headers:
                = example.last['request']['headers']
              %div
                %b request.body:
                = example.last['request']['body']
            %div{class: 'section'}
              %div
                Request failed
          - else
            %div
              %b path:
              = example.first
            Test failed
